# Custom ConfigMap for NGINX Ingress Controller
# This can be used to override default NGINX configuration
# Apply after the controller is deployed

apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-configuration
  namespace: ingress-nginx
  labels:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/part-of: ingress-nginx
data:
  # Enable SSL passthrough
  enable-ssl-passthrough: "true"
  
  # SSL protocols
  ssl-protocols: "TLSv1.2 TLSv1.3"
  
  # Use proxy protocol
  use-proxy-protocol: "false"
  
  # Compute full forwarded for
  compute-full-forwarded-for: "true"
  
  # Use forwarded headers
  use-forwarded-headers: "true"
  
  # Client body buffer size
  client-body-buffer-size: "1m"
  
  # Proxy body size (adjust based on your needs)
  proxy-body-size: "10m"
  
  # Enable real IP
  enable-real-ip: "true"
  
  # Forwarded for header
  forwarded-for-header: "X-Forwarded-For"
  
  # Enable access log
  enable-access-log: "true"
  
  # Log format
  log-format-upstream: |
    $remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent" $request_length $request_time [$proxy_upstream_name] [$proxy_alternative_upstream_name] $upstream_addr $upstream_response_length $upstream_response_time $upstream_status $req_id
  
  # HSTS (HTTP Strict Transport Security)
  hsts: "true"
  hsts-max-age: "31536000"
  hsts-include-subdomains: "true"
  hsts-preload: "true"
  
  # Connection keepalive
  keep-alive: "75"
  keep-alive-requests: "100"
  
  # Timeouts
  proxy-connect-timeout: "60"
  proxy-send-timeout: "60"
  proxy-read-timeout: "60"
  
  # Gzip compression
  enable-gzip: "true"
  gzip-types: "application/atom+xml application/javascript application/json application/rss+xml application/vnd.ms-fontobject application/x-font-ttf application/x-web-app-manifest+json application/xhtml+xml application/xml font/opentype image/svg+xml image/x-icon text/css text/plain text/x-component"

