controller:
  name: controller
  image:
    registry: registry.k8s.io
    image: ingress-nginx/controller
    tag: "v1.9.4"
    digest: ""

  replicaCount: 1

  service:
    type: LoadBalancer
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-type: "classic"
      service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"
      service.beta.kubernetes.io/aws-load-balancer-connection-idle-timeout: "60"
    externalTrafficPolicy: Cluster

  ingressClassResource:
    name: nginx
    enabled: true
    default: true
    controllerValue: "k8s.io/ingress-nginx"

  metrics:
    enabled: true
    service:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "10254"

  admissionWebhooks:
    enabled: false
    patch:
      enabled: false
      image:
        registry: registry.k8s.io
        image: ingress-nginx/kube-webhook-certgen
        tag: "v20231011-8b53cabe0"
        digest: ""

  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 90Mi

  podDisruptionBudget:
    enabled: false

  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                    - ingress-nginx
                - key: app.kubernetes.io/component
                  operator: In
                  values:
                    - controller
            topologyKey: kubernetes.io/hostname

  config:
    enable-ssl-passthrough: "true"
    ssl-protocols: "TLSv1.2 TLSv1.3"
    use-proxy-protocol: "false"
    compute-full-forwarded-for: "true"
    use-forwarded-headers: "true"
    client-body-buffer-size: "1m"
    proxy-body-size: "10m"
    enable-real-ip: "true"
    forwarded-for-header: "X-Forwarded-For"
    enable-access-log: "true"
    log-format-upstream: |
      $remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent" $request_length $request_time [$proxy_upstream_name] [$proxy_alternative_upstream_name] $upstream_addr $upstream_response_length $upstream_response_time $upstream_status $req_id

  extraArgs:
    enable-ssl-passthrough: ""

defaultBackend:
  enabled: false

