apiVersion: v1
kind: Service
metadata:
  name: {{ include "aim.fullname" . }}
  labels:
    {{- include "aim.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    {{- include "aim.selectorLabels" . | nindent 4 }}



